@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Mukta-ExtraBold";
  src: url("../fonts/Mukta-ExtraBold.woff") format("woff"), url("../fonts/Mukta-ExtraBold.woff2") format("woff2");
}

html {
  font-size: calc(15px + 0.1vw);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  max-width: 2630px;
  min-width: 320px;
  overflow-x: hidden;
  background: #ffff;
  margin: auto;
}

.top {
  display: grid;
  grid-template-areas: "avatar personal-data";
  grid-template-columns: 35% 65%;
}

.top__avatar {
  padding: 0 10%;
  background: #e0e0e1;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: avatar;
}

.top__images {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.top__personal-data {
  background: #f0f0f1;
  padding: 2% 10% 4% 9%;
  grid-area: personal-data;
}

.top__full-name {
  margin: 0 0 3% 0;
  font-size: calc(18px + 3.8vw);
  line-height: 164px;
  letter-spacing: 23px;
}

.top__name {
  color: #7d64a7;
  font-family: 'Mukta-ExtraBold';
}

.top__surname {
  display: block;
  color: #1f2222;
  font-family: 'Mukta-ExtraBold';
}

.top__job {
  font-family: 'Lato-Light';
  font-size: calc(18px + 1.3vw);
  line-height: 55px;
  letter-spacing: 2.7px;
  color: #1f2222;
}

.top__job::before {
  content: "";
  display: inline-block;
  width: 1vw;
  height: 1vw;
  background: #7d64a7;
  vertical-align: middle;
  margin: 0 25px 10px 0;
}

@media screen and (max-width: 2128px) {
  .top__full-name {
    font-size: calc(18px + 3.5vw);
    line-height: 154px;
    letter-spacing: 20px;
  }
}

@media screen and (max-width: 1756px) {
  .top__full-name {
    font-size: calc(18px + 3.2vw);
    line-height: 124px;
    letter-spacing: 20px;
    margin: 0 0 2% 0;
  }

  .top__job {
    font-size: calc(18px + 1vw);
    line-height: 45px;
    letter-spacing: 2.7px;
  }

  .top__job::before {
    margin: 0 20px 7px 0;
  }
}

@media screen and (max-width: 1612px) {
  .top__full-name {
    font-size: calc(18px + 3.2vw);
    line-height: 84px;
    letter-spacing: 17px;
    margin: 0 0 4% 0;
  }

  .top__job {
    font-size: calc(18px + .8vw);
  }
}

@media screen and (max-width: 1280px) {
  .top__full-name {
    line-height: 74px;
    letter-spacing: 15px;
  }
}

@media screen and (max-width: 1080px) {
  .top__full-name {
    line-height: 64px;
    letter-spacing: 13px;
  }

  .top__job::before {
    margin: 0 15px 5px 0;
  }
}

@media screen and (max-width: 980px) {
  .top {
    grid-template-areas: "avatar" "personal-data";
    grid-template-columns: 100%;
    grid-auto-rows: auto;
  }

  .top__avatar {
    padding: 5%;
  }

  .top__images {
    width: 30%;
    height: 30%;
  }

  .top__personal-data {
    padding: 2% 0;
    text-align: center;
  }

  .top__full-name {
    letter-spacing: 10px;
    margin: 0 0 2% 0;
  }
}

@media screen and (max-width: 780px) {
  .top__full-name {
    line-height: 54px;
    letter-spacing: 7px;
    margin: 0 0 1.5% 0;
  }

  .top__job {
    font-size: calc(18px + .5vw);
  }

  .top__job::before {
    margin: 0 10px 3px 0;
  }
}

@media screen and (max-width: 580px) {
  .top__full-name {
    line-height: 44px;
    letter-spacing: 4px;
    margin: 0 0 1% 0;
  }

  .top__job {
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 2px;
  }

  .top__job {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 380px) {
  .top__full-name {
    font-size: calc(18px + 2vw);
    line-height: 34px;
    letter-spacing: 2px;
    margin: 0 0 1% 0;
  }

  .top__job::before {
    width: 4px;
    height: 4px;
    margin: 0 5px 0 0;
  }
}